<div class="container">
  <h3>Login</h3>
  <%= form_tag session_path, method: :post do %>
    <div>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag 'Login' %>
  <% if flash[:alert].present? %>
    <%= flash[:alert] %>
  <% end %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3>Register</h3>
  <%= form_for @new_user do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div>
      <%= f.submit 'Register' %>
    </div>
  <% end %>
</div>
