<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Seller</th>
      <th>Top Bid</th>
      <th>Time Remaining</th>
      <th>Bid</th>
    </tr>
  </thead>
  <tbody>
    <% auctions.each do |auction| %>
      <tr>
        <td><%= auction.product_name %></td>
        <td><%= auction.user.full_name %></td>
        <td><%= auction.highest_bid[:price]%></td>
        <td><%= time_ago_in_words auction.end_date %></td>
        <td>
          <%= auction.user_id %>
          <%= session[:user_id] %>
          <% if auction.owner? session[:user_id] %>
            <%= link_to 'Delete', auction, method: :delete %>
          <% else %>
            <%= link_to 'Bid', new_auction_bid_path(auction) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

