<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Seller</th>
      <th>Top Bid</th>
      <th>Time Remaining</th>
      <th>Bid</th>
    </tr>
  </thead>
  <tbody>
    <% auctions.each do |auction| %>
      <tr>
        <td><%= auction.product_name %></td>
        <td><%= auction.user.full_name %></td>
        <td><%= auction.highest_price %></td>
        <td>
          <% if auction.finished? %>
            finished
          <% else %>
            <%= time_ago_in_words auction.end_date %>
          <% end %>
        </td>
        <td>
          <% if auction.finished? %>
            <%= link_to 'Result', auction %>
          <% elsif auction.owner? session[:user_id] %>
            <%= link_to 'Delete', auction, method: :delete %>
          <% else %>
            <% if auction.biddable? session[:user_id] %>
              <%= link_to 'Bid', new_auction_bid_path(auction) %>
            <% else %>
              Highest bidder.
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

