<div class="container">
  <% if auction.finished? %>
    <div class="finished">
      <h2>This Auction is finished.</h2>
      <p>Highest Bidder is... <%=auction.highest_bidder%></p>
    </div>
  <% end %>
  <% if auction.finished? && auction.highest_bid[:user_id].present? && auction.highest_bid[:user_id] == session[:user_id] %>
    <h1>You are the highest bidder!</h1>
    <h2>Pay money or die!</h2>
  <% end %>
  <ul>
    <li>ID:<%= auction.id %></li>
    <li>Product Name:<%= auction.product_name %></li>
    <li>Description:<%= auction.description %></li>
    <li>Starting:<%= auction.starting_bid %></li>
    <li>Ending:<%= time_ago_in_words auction.end_date %></li>
    <li>Price:<%= auction.highest_price %></li>
    <li>Bidder:<%= auction.highest_bidder %></li>
  </ul>
  <%= render partial: 'partial/bids', locals: {bids: auction.bids} %>
</div>
