<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAuction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:alert].present? %>
    <%= flash[:alert] %>
  <% end %>
  <% if flash[:notice].present? %>
    <%= flash[:notice] %>
  <% end %>
  <% if session[:user_id].present? %>
    <%= link_to 'Auction List', '/auctions' %>
    <%= link_to 'Create Auction', new_auction_path %>
    <%= link_to 'Topup Wallet', new_topups_path %>
    <%= link_to 'Logout', '/session', method: :delete %>
  <% end %>
<%= yield %>

</body>
</html>
